

{% extends 'homebase.html.twig' %}

{% block title %} PIAMFOD -FAQs {% endblock %}
{% block keywords %} restaurants,bars,pizzeria {% endblock %}
{% block description %} You will find our entire reservation Menu {% endblock %}

{% block body %}

         <div class="col-lg-6">
             <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
              <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Restoran</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
                     <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                  <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                         <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                          <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                             <div class="ps-4">
                                 <p class="mb-0">Years of</p>
                                     <h6 class="text-uppercase mb-0">Experience</h6>
                          </div>
                        </div>
                     </div>
		
{% endblock %}
